#barchart-svg {
  background-color: rgb(20, 20, 20);
  border: 0px solid rgba(255, 255, 255, 0.315);
}
rect {
  fill: rgba(255, 255, 255, 0.877);
  stroke: rgba(0, 0, 0, 0.253);
}
rect:hover {
  fill-opacity: 0.7;
}
