html {
  height: 100%;
}
body {
  background-color: rgb(26, 26, 26);
  font-family: "PT Sans", sans-serif;
  font-family: "Quicksand", sans-serif;
}
#covid-banner{
  height: 2.5em;
  font-size: 1.2em;
  margin: auto;
  width: 50%;
  padding: 10px;
}
#case-total {
  font-size: 1.6em;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-weight: 300;
  width: 100%;
  padding: 0;
  margin: 0;
  color: rgb(219, 219, 219);
}
.total-row {
  font-size: 1em;
  text-align: center;
  font-weight: 500;
  width: 100%;
  padding: 0;
  margin: 0;
  color: rgb(221, 221, 221);
  background-color: rgb(20, 20, 20);
}
#type-total,
#case-type {
  padding: 5px;
}
.my-row {
  margin: 0;
}
.my-col {
  background-color: rgb(20, 20, 20);
  padding: 0%;
}
.my-cont {
  position: relative;
  top: 0px;
  border: 0px solid red;
}

.btn {
  font-size: 10px;
  border: 1px solid rgba(20, 20, 20, 0.486);
  background-color: rgb(51, 51, 51);
  color: rgb(197, 197, 197);
  padding: 5px 8px;
  width: 100%;
  border-radius: 0px;
}
.btn:hover {
  color: white;
}
.active {
  background-color: rgb(131, 131, 131) !important;
  color: rgb(200, 200, 200) !important;
}
.grid line {
  stroke: rgba(240, 240, 240, 0.034);
  stroke-opacity: 1;
  shape-rendering: crispEdges;
}
.grid path {
  stroke-width: 0;
}
.tick text {
  fill: rgb(218, 218, 218);
}
.padding-0 {
  padding-right: 0;
  padding-left: 0;
}
.graph-col {
  border: 1px solid rgba(71, 71, 71, 0.158);
  background-color: rgb(20, 20, 20);
}
.map-titles {
  padding: 0;
  text-align: center;
  font-size: 14px;
  color: rgb(255, 255, 255);
  background-color: rgb(49, 49, 49);
  border: 0px solid rgb(27, 27, 27);
}
.sr-titles {
  color: rgb(160, 160, 160);
  font-size: 13px;
  background-color: rgb(20, 20, 20);
}
.sr-type {
  color: rgb(245, 245, 245);
  font-size: 12px;
  background-color: rgb(20, 20, 20);
}
#update-stamp {
  color: rgb(200, 200, 200);
  padding-left: 5px;
  font-size: 13px;
}
.stamp {
  color: rgb(200, 200, 200);
  font-size: 13px;
  background-color: rgb(20, 20, 20);
}
.dt-col {
  border: 2px solid rgba(112, 112, 112, 0) !important;
}
.navbar {
  background-color: rgb(20, 20, 20);
  color: white;
}
